body {
    color: black;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgba(63, 219, 240, 0.596);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 60px;
    margin-top: 2%;
}

h2 {
    font-family: 'El Messiri', sans-serif;
}

h3 {
    text-align: center;
    font-family: 'El Messiri', sans-serif;
    font-size: 25px;
}
p {
    font-size: 23px;
}
#name {
    padding-top: 11%;
}

#home {
    position: relative;
}

#logo {
    width: 7%;
    padding: 2px;
    margin-top: 5px;
    margin-left: 5px;
}

#background {
    position: absolute;
    z-index: -1;
    width: 100%;
    opacity: 0.6;
    height: 124%;
}

#nav_bar {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    justify-content: center;
    font-size: 30px;
    font-family: cursive;
}

a {
    text-decoration: none;
    color: black;
}

#side {
    padding-right: 30px;
}

#nav_bar div a {
    padding: 15px;
    margin: 12px;
    font-size: 20px;
}

#nav_bar div a:hover {
    font-size: 18px;
    color: white;
    background-color: rgb(73, 90, 247);
    border-radius: 16px;
    padding: 3px 18px;
}

#contain {
    position: relative;
    padding-top: 5%;
}

#order {
    text-align: center;
    padding: 60px;
    margin: 30px;
}

#online {
    margin: 45px;
    opacity: 0.8;
    float: left;
    height: 260px;
    width: 400px;
    padding-left: 60px;
}

.btn {
    background-color: rgb(189, 52, 34);
    border-radius: 10px;
    padding-right: 8px;
    padding-left: 8px;
    margin: 5px;
    color: white;
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.btn:hover {
    background-color: white;
    color: rgb(189, 52, 34);
}

.container {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
}

.container .box {
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
    border-radius: 10px;
    background-color: rgba(136, 223, 235, 0.322);
}

.menuitem {
    padding: 30px;
    text-align: center;
    border: 2px solid black;
    margin: 20px;
    width: 33.3%;
    background-color: rgba(136, 223, 235, 0.322);
}

.img {
    width: 230px;
    height: 160px;
}

#cont {
    text-align: center;
}

#cont i {
    text-align: center;
    margin: 18px;
    font-size: 35px;
    color: black;
}

footer {
    background-color: rgba(136, 224, 235, 0.253);
}

.form {
    color: rgb(10, 11, 73);
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    justify-content: end;
}

.inp {
    margin: 5px;
}

#urname {
    padding: 1.4px;
}

#services {
    position: relative;
}

#det {
    margin-bottom: 3%;
}

#info {
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 58%;
}

address {
    margin-bottom: 20px;
}

.select:hover {
    color: rgb(1, 1, 156);
    text-decoration: underline;
}

#subbtn {
    background-color: rgb(9, 6, 160);

}

#subbtn:hover {
    background-color: white;
    color: rgb(9, 6, 160);
}